{% extends "base.html" %}

{% block title %}Login - Atlanta Food Finder{% endblock %}

{% block back_arrow %}
{% endblock %}

{% block content %}
<h2>One step closer...</h2>
<h2 class="bold-text">Already have an account?</h2>
<a href="{% url 'login' %}">
    <button class="choice-button">Yes, take me to login</button>
</a>
<a href="{% url 'signup' %}">
    <button class="choice-button">No, create an account</button>
</a>
{% endblock %}

{% block extra_css %}
<style>
    .centered-box {
        width: 80%;
    }
    .choice-button {
        width: 100%;
    }
</style>
{% endblock %}
