{% extends "base.html" %}
{% block content %}
<h2 class="bold-text">Login</h2>
<form method="post" id="login-form">
    {% csrf_token %}

        <div class="login-field">
            {{ form.username }}
        </div>

        <div class="login-field">
            {{ form.password }}
        </div>

    <button type="submit" class="choice-button" id="login-button">Log In</button>
</form>
<p>Don't have an account? <a href="{% url 'signup' %}" class="button">Sign up here</a></p>
{% endblock %}

{% block extra_css %}
<!-- <style>
    .login-field input {
        width: 100%;
        margin-bottom: 10px;
    }
    .centered-box {
        text-align: center;
    }
    .bold-text {
        font-weight: bold;
    }
</style> -->
{% endblock %}