 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlanta Food Finder</title>
    <link rel="stylesheet" href="{% static 'web_app/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{% static 'web_app/js/maps.js' %}" defer></script>
    <script src="{% static 'web_app/js/script.js' %}" defer></script>
<body>

    <header>
        AtlantaFoodFinder
    </header>

    <a href="{% url 'login' %}">
        <button class="profile-button">
            <i class="fas fa-user-circle"></i> 
            Profile
        </button>
    </a>

    <!-- Login Page -->
    <div class="centered-box">
        <a href="{% url 'account' %}" class="back-arrow">&#8592;</a>
        <div class="box-content">
            <div class="login-field">
                <input type="text" class="login-input" placeholder="Email Address"> 
            </div>
            <div class="login-field">
                <input type="text" class="login-input" placeholder="Username"> 
            </div>
            <div class="login-field">
                <input type="password" class="login-input" placeholder="Password">
            </div>
            <button id="login-button" class="choice-button" type="submit">Create Account</button>
        </div>
    </div>
</body>
</html> 