{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlanta Food Finder</title>
    <link rel="stylesheet" href="{% static 'web_app/css/base.css' %}">
    <script src="{% static 'web_app/js/maps.js' %}" defer></script>
    <script src="{% static 'web_app/js/script.js' %}" defer></script>
<body>
    <!-- Header at the top -->
    <header>
        AtlantaFoodFinder
    </header>

    <div class="centered-box">
        <a href="{% url 'index' %}" class="back-arrow">&#8592;</a>
        <div class="box-content"></div>
            <h2>One step closer...</h2>
            <h2 class="bold-text">Already have an account?</h2>
            <a href="{% url 'login' %}">
                <button class="choice-button">Yes, take me to login</button>
            </a>
            <a href="{% url 'create' %}">
                <button class="choice-button">No, create an account</button>
            </a>
        </div>
    </div>
</body>
</html>