{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Atlanta Food Finder{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'web_app/css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
     <header>
        <nav>
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.username }}!</span>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn">Log Out</button>
                </form>
            {% endif %}
        </nav>
    </header>

    <div class="centered-box">
        {% block back_arrow %}{% endblock %}
        <div class="box-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% block extra_js %}{% endblock %}
</body>
</html>