{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Webpage</title>
    <link rel="stylesheet" href="{% static 'web_app/css/map.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRbtKq5nh6cpCD_HVe09TqO7nuZEttfUk" defer></script>
    <script src="{% static 'web_app/js/maps.js' %}" defer></script>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h1 class="site-title">Atlanta Food Finder</h1>
            <a href="{% url 'profile' %}">
                <button class="profile-button">
                    <i class="fas fa-user-circle"></i> 
                    Profile
                </button>
            </a>
        </div>
    </header>

    <div class="bottom-content">
        <div class="favorites">
            <h1 class="favorites-header">YOUR FAVORITES</h1>
            <!-- Restaurant cards will be dynamically inserted here -->
        </div>
    </div>

</body>
</html>