{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlanta Food Finder</title>
    <link rel="stylesheet" href="{% static 'web_app/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{% static 'web_app/js/maps.js' %}" defer></script>
    <script src="{% static 'web_app/js/script.js' %}" defer></script>
</head>
<body>

    <!-- Header at the top -->
    <header>
        AtlantaFoodFinder
    </header>

    <a href="{% url 'login' %}">
        <button class="profile-button">
            <i class="fas fa-user-circle"></i> 
            Profile
        </button>
    </a>

    <!-- Middle text content -->
    <div class="content">
        <!-- Oval button -->
         <table> <tr> 
            <td class="text-cell">Helping you discover your <br> new favorite spot.</td> 
            <td class="button-cell"> 
                <a href="{% url 'account' %}">
                    <button id="startButton" class="button">Start Here</button> 
                </a>
            </td> 
            </tr> </table>
    </div>

    

</body>
</html>