{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Webpage</title>
    <link rel="stylesheet" href="{% static 'web_app/css/base.css' %}">
</head>
<body>

    <!-- Header at the top -->
    <header>
        AtlantaFoodFinder
    </header>

    <!-- Middle text content -->
    <div class="content">
        <!-- Oval button -->
         <table> <tr> 
            <td class="text-cell">Helping you discover your <br> new favorite spot.</td> 
            <td class="button-cell"> <a href="#" class="button">Click Me</a> </td> 
        </tr> </table>
    </div>

    

</body>
</html>