{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlanta Food Finder</title>
    <link rel="stylesheet" href="{% static 'web_app/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'web_app/css/landing.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRbtKq5nh6cpCD_HVe09TqO7nuZEttfUk" defer></script>
    <script src="{% static 'web_app/js/maps.js' %}" defer></script>
    <script src="{% static 'web_app/js/script.js' %}" defer></script>
</head>
<body>
    <header class="header">
        <h1 class="title">AtlantaFoodFinder</h1>
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.username }}!</span>
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="auth-button">Log Out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="auth-button">Login</a>
                <a href="{% url 'signup' %}" class="auth-button">Sign Up</a>
            {% endif %}
        </div>
    </header>
    <main class="content">
        <h2 class="main-text">Helping you discover your<br>next favorite spot.</h2>
        <a href="{% url 'map' %}" class="start-exploring">Start Exploring</a>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Atlanta Food Finder. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>