{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile - Atlanta Food Map</title>
    <link rel="stylesheet" href="{% static 'web_app/css/base2.css' %}">
    <link rel="stylesheet" href="{% static 'web_app/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'web_app/css/common/restaurant-card.css' %}">
    <link rel="stylesheet" href="{% static 'web_app/css/profile.css' %}">
    <script src="{% static 'web_app/js/profile.js' %}" defer></script>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h1 class="header-title">Atlanta Food Map</h1>
            <a href="/map" class="go-to-map-button">Go To Map</a>
        </div>
    </header>

    <main class="profile-container">
        <section class="profile-info">
            <div class="profile-picture">
                <svg class="profile-icon" viewBox="0 0 24 24">
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
                </svg>
            </div>
            <h2 id="profile-name" class="profile-name"></h2>
            <p id="profile-email" class="profile-details"><p>
            <p class="profile-details">Food Enthusiast | Atlanta, GA</p>

           
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn logout-button">Log Out</button>
            </form>
        </section>

        <section class="favorites-section">
            <h3 class="favorites-title">Favorites</h3>
            <div id="favorites-list">
                <!-- Favorite restaurant cards will be dynamically inserted here -->
            </div>
        </section>
    </main>

</body>
</html>