main {
    display: flex;
    height: 92vh; /* Full height of the viewport */
}

.left-content {
    width: 50%;
}



@media (max-width: 768px) {

    .right-content {
        display: none;
    }
    .left-content {
        width: 100%;
    }
}

.reviews-section {
    margin-top: 20px;
}

.review {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#review-form {
    margin-top: 20px;
}

#review-form select,
#review-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#review-form button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#review-form button:hover {
    background-color: #6B0000;
}